@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    IFSP - Instituto Federal de Educação, Ciências e Tecnologia de SP<br />
    Pedro Vicente<br />
    <abbr title="Phone">P:</abbr>
    3300-3210
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Arion_Slash@hotmail.com">Entre em contato para procurar alguma ajuda</a><br />
    <strong>Marketing:</strong> <a href="mailto:Arion_Slash@hotmail.com">Entre em contato para procurar ajuda na divulgação do produto</a>
</address>